body{
    color: #00001A !important;
}

a, a:hover{
    text-decoration: none;
}

.navbar{
    background-color:#00001A !important;
}

.navbar a{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff;
    }
    to {
      text-shadow: 0 0 2px #fff;
    }
  }


a:hover{
    /* color: #ccc; */
}

.info p{
    display: inline-block;
}

.info span{
    color: #ccc;
}

.no-padding{
    padding: 0;
}

.title-container{
    margin: 0px 0 20px 0;
    padding: 0;
}

.separator{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.title{
    line-height: 0.75;
    margin-bottom: 18px;
}
  
.subtitle{
    font-size: 60%;
    letter-spacing: 0.5px;
}

.navbar-wrapper{
    margin-bottom: 30px;
}

.fixed{
    position: fixed;
}

.spacer{
    height:70px;
}

@media (min-width: 1400px){
    .container{
        max-width: 1300px !important;
    }
}

@media (min-width: 768px){
    .col-md-5{
        -ms-flex: 0 0 37.666667%;
        flex: 0 0 37.666667%;
        max-width: 37.666667%;
    }
}

.typewriter p {
    position: absolute;
    bottom: 8px;
    text-align: left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 5;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

@media (max-width: 768px){
    .navbar-wrapper{
        margin-bottom: 20px;
    }
}