a, a:hover{
    text-decoration: none;
}

a:hover{
    /* color: #ccc; */
}

.info p{
    display: inline-block;
}

.info span{
    color: #ccc;
}

.no-padding{
    padding: 0;
}

.title-container{
    margin: 0px 0 20px 0;
    padding: 0;
}

.separator{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.title{
    line-height: 0.75;
    margin-bottom: 18px;
}
  
.subtitle{
    font-size: 60%;
    letter-spacing: 3.4px;
}

.navbar-wrapper{
    margin-bottom: 30px;
}

.fixed{
    position: fixed;
}

.spacer{
    height:100px;
}

@media (min-width: 1400px){
    .container{
        max-width: 1300px;
    }
}