body {
  padding-top: 54px;
}

#logo{
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}

img:hover { 
    opacity: 1; 
}

.card-text{
    padding-bottom: 25px;
}

.card-footer-text{
    position: absolute;
    bottom: 1px;
}

.card-title{
    font-size: 1.1rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }

  /* only apply the animation to computers, 
  since it doesn't work well with touch screens */
  img { 
    opacity: .6;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    } 
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
